header {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  text-align: center;
}
.main-picture {
  img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  }
}
.website-logo-area {
  @include header-shadow;
  height: 100%;
  z-index: 1;
  padding: 20px 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.5em;
  img {
    color: $color-tx-tertiary;
    flex-basis: 80%;
  }
  i {
    flex: 1 20%;
    text-align: center;
    width: 100%;
  }
}
.location-area {
  padding: 0px 0px;
  z-index: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: $color-bg-secondary;
  p {
    padding-left: 1%;
    font-size: 1.1rem;
  }
}
