// header {

// }
.main-picture {
  img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    @include tablet-and-more-generic {
      max-height: 250px;
    }
  }
}
.website-logo-area {
  height: 100%;
  z-index: 1;
  padding: 20px 0%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.5em;
  img {
    color: $color-seventhly;
  }
}
.allpages .website-logo-area {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  img {
    flex-basis: 60%;
  }
  div {
    i {
      color: $color-tenthly;
    }
    flex: 1 20%;
    text-align: center;
    width: 100%;
  }
}
.home .website-logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include box-shadow-middle-bottom-small-small-light;
}

.location-area {
  padding: 0px 0px;
  z-index: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: $color-fifthly;
  p {
    padding-left: 1%;
    font-size: 1.1rem;
  }
}
