.restaurant-card{
    display: flex;
    flex-flow: column wrap;
    @include article-shadow;
    border-radius: 20px;;
    &__image-area{
        height: 175px;
    }
    &__flag{
        height: 30px;
        width: 80px;
    }
   

    img{
        object-fit: cover;
    }
}
.text-area{
    display: flex;
    flex-flow: row wrap;
    &__text{
        flex: 2 80%;
        padding-left: 10%;
        display: flex;
        flex-flow: column wrap;
        h3{
            margin: 0px;         
        }
        p{
            margin: 0px
        }
    }
    &__logo{
        flex: 1 20%;
        text-align: center;
        width: 100%;
    }
}
