.restaurant-card {
  display: flex;
  flex-flow: column wrap;
  @include article-shadow;
  border-radius: 20px;
  position: relative;
  &__image-area {
    height: 175px;
  }
  &__flag {
    position: absolute;
    top: 13px;
    right: 12px;
    height: 30px;
    padding:0% 3% ;
    background-color: $color-tertiary;
    color: $color-tx-secondary;
    display: flex;
    p{
      margin: auto;
      font-weight: 700;

    }
  }
  img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  }
}
.text-area {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  &__text {
    flex: 2 70%;
    padding-left: 4%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    h3 {
      margin: 0px;
      font-size: 20px;
    }
    p {
      margin: 0px;
      font-size: 16px;
    }
  }
  &__logo {
    flex: 1 20%;
    text-align: center;
    width: 100%;
  }
}
