.button-explore {
  border-radius: 50px;
  color: $color-seventhly;
  background: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);
  border-width: 0px;
  z-index: 1;
  transition: all 0.05s ;
  @include tablet-and-more-generic {
    margin: 30px;
    padding: 0px 30px;
  }
  @include box-shadow-middle-bottom-small-none-verylight;
  &:hover {
    @include box-shadow-middle-bottom-medium-none-mediumlight;
    background: linear-gradient(0deg, lighten($color: $color-primary,$amount: 5%) 0%, lighten($color: $color-secondary,$amount: 5%) 100%);
  }
}
.home .button-explore{
  height: 50px;
  font-size: 20px;
}
.allpages .button-explore{
  // height:30px;
  padding: 10px 20px;
  
}

.button-filter {
  border-radius: 20px;
  height: 75px;
  margin: 13px 0px 13px 10px;
  z-index: 1;
  font-size: 20px;
  @include box-shadow-middle-bottom-small-none-verylight($color: $color-tenthly);
  position: relative;
  background-color: $color-sixthly;
  transition: all 0.05s ;
  @include tablet-and-more-generic {
    margin: 30px;
    padding: 0px 30px;
  }
  &--colored {
    // @include background-small-light;
    background-color: lighten($color: $color-primary, $amount: 22%);
    .button-filter-text-area__logo{
    color: $color-primary;
  }
  }
  &:hover {
    background-color: lighten($color:$color-sixthly, $amount: 1%);
    @include box-shadow-middle-bottom-medium-none-mediumlight;
    &.button-filter--colored{
      background-color: lighten($color: $color-primary, $amount: 30%);
    }
  }
  &__number {
    border-radius: 100%;
    background-color: $color-primary;
    position: absolute;
    left: -15px;
    top: 25px;
    width: 30px;
    height: 30px;
    color: $color-seventhly;
    z-index: 2;
    p {
      margin: 0%;
      position: absolute;
      top: 15px;
      left: 15px;
      transform: translate(-50%, -50%);
    }
  }
}

.button-filter-area{
  display: flex;
  flex-flow: column nowrap;
  @include tablet-and-more-row-positionning ;
}
.button-filter-text-area {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: inherit;

  &__logo {
    color: $color-eighthly;
    font-size: 20px;
  }
  &__text {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 700;
  }
}

