.home header,
.home main,
.home footer {
  animation: disappear 3.1s 0s 1 ease;
}

.loader {
  display: block;
  position: absolute;
  transform: translate(-50%, 50%);
  top: 30vh;
  left: 50%;
  width: 80px;
  height: 80px;
  z-index: -1;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $color-primary;
  border-color: $color-primary transparent $color-primary transparent;
  animation: loader-rotate 1s linear 1s 3, loader-anim 1s linear 3s ;
  transform: translate(-9999px);
  z-index: -1;
}
@keyframes disappear {
  0% {
    transform: translate(-9999px);
  }
  90% {
    transform: translate(-9999px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes loader-rotate {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    // transform: translate(0px);
  }
  99% {
    // transform: translate(0px);
    opacity: 1;

  }
  100% {
    transform: rotate(360deg);
    opacity: 1;

    // transform: translate(-9999px);
  }
}
@keyframes loader-anim {
  0% {
    transform: translate(-0px);
    // border-color: $color-secondary transparent $color-secondary transparent;
    // opacity: 0;
}

  100% {
    transform: translate(-0px);
    // border-color: $color-secondary transparent $color-secondary transparent;
    // opacity: 0;
  }
}
