@mixin button-shadow-very-light($color: $color-sh-primary) {
  box-shadow: 0px 0px 6px 4px lighten($color: $color, $amount: 90%);
}
@mixin button-shadow-light($color: $color-sh-primary) {
  box-shadow: 0px 4px 3px 0px lighten($color: $color, $amount: 70%);
}
@mixin button-shadow-enhanced($color: $color-sh-primary) {
  box-shadow: 0px 5px 4px 0px lighten($color: $color, $amount: 60%);
}
@mixin button-bg-light($color: $color-primary) {
  background-color: lighten($color: $color, $amount: 30%);
}
@mixin article-shadow($color: $color-sh-primary) {
  box-shadow: 0px 2px 4px 4px lighten($color: $color, $amount: 70%);
}
@mixin article-shadow-darken($color: $color-sh-primary) {
  box-shadow: 0px 2px 1px darken($color, 30%);
}
@mixin header-shadow($color: $color-sh-primary) {
  box-shadow: 0px 1px 2px 1px lighten($color: $color, $amount: 50%);
}
@mixin highlight-typography {
  font-size: 17px;
}

// Media Querries
@mixin tablet-and-more-row-positionning {
  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}

@mixin tablet-and-more-generic {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}
@mixin large-devices-and-more-generic {
  @media screen and (min-width: $breakpoint-large) {
    @content;
  }
}
