
$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #15DEA5;
$color-fourthly :#353535;//footer
$color-fifthly :#EAEAEA;//header 
$color-sixthly : #F6F6F6; // bouton et bg restaurant
$color-seventhly:#ffffff; //blanc
$color-eighthly : #7E7E7E;//bouton
$color-ninthly : #008766; //text flag
$color-tenthly :#000; //noir


$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large:1200px;
$breakpoint-larger:1400px;
// Small devices (landscape phones, 576px and up)
// Medium devices (tablets, 768px and up)
// Large devices (desktops, 992px and up)
// X-Large devices (large desktops, 1200px and up)
// XX-Large devices (larger desktops, 1400px and up)
