body {
  width: 100%;
  margin: 0px;
  @include large-devices-and-more-generic {
    width: 75%;
    margin: auto;
    }
}
header {
  display: flex;
  flex-flow: column wrap;
}

main {
  display: flex;
  flex-flow: column wrap;
}
.explore {
  display: flex;
  flex-flow: column wrap;
  background-color: $color-bg-tertiary;
  padding: 30px;
  text-align: center;
  @include tablet-and-more-row-positionning ;
  p {
    @include highlight-typography;
    color: $color-sh-primary;
  }
}
.order{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.menu {
  padding: 10px 5%;
  transform: translate(0, -30px);
  background-color: $color-bg-tertiary;
  border-radius: 30px 30px 0px 0px;
}

.filter-area {
  display: flex;
  flex-flow: column wrap;
  padding: 10px 5%;
}
.results-area {
  background-color: $color-bg-tertiary;
  padding: 10px 5%;
}
.restaurants-list{
  display: flex;
  flex-flow: column nowrap;
  @include tablet-and-more-row-positionning ;
}
.division-bloc {
  display: flex;
  flex-flow: row nowrap;
  height: 20px;
  .underlined {
    flex-basis: 10%;
    border-top: solid;
    border-color: $color-tertiary;
    border-width: 2px;
  }
  .not-underlined {
    flex-basis: 90%;
  }
}

.all-dishes{
  display: flex;
  flex-flow: column nowrap;
  @include tablet-and-more-generic {
    flex-flow: row nowrap;
    justify-content: space-around;
    }
}