@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
h1,
h2,
h3 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 0px;
}

h3 {
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 2em;
}

.home h2 ,.home h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 27px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
}



